@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, sans-serif;
  user-select: none;
  -webkit-app-region: drag;
}
button, input, a, [role="button"] {
  -webkit-app-region: no-drag;
}
